# LinkedIn Scrapping Phase 1 (Scrap the Company URLs)

### Import Library

In [6]:
# Import Library
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from time import sleep
from bs4 import BeautifulSoup
import pandas as pd

### Log in Linkedin

In [7]:
# Setting browser
chrome_options = Options()
chrome_options.add_argument("--window-size=1920,1080")
# Ganti path dengan lokasi dari chromedriver.exe
driver = webdriver.Chrome(r"C:\Users\ddeel\Local\chromedriver.exe", chrome_options=chrome_options)

# Masuk ke halaman login LinkedIn
driver.get("https://www.linkedin.com/login")

# Masukkan username
elementID = driver.find_element_by_id("username")
elementID.send_keys('_____') # write down your email here

# Masukkan password
elementID = driver.find_element_by_id("password")
elementID.send_keys('_____') # write down the linkedin password here

# locate submit button by_xpath
sign_in_button = driver.find_element_by_xpath('//*[@type="submit"]')

# .click() to mimic button click
sign_in_button.click()
sleep(1)

<ipython-input-7-5f7ba323d9ed>:4: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"C:\Users\ddeel\Local\chromedriver.exe", chrome_options=chrome_options)
<ipython-input-7-5f7ba323d9ed>:4: DeprecationWarning: use options instead of chrome_options
  driver = webdriver.Chrome(r"C:\Users\ddeel\Local\chromedriver.exe", chrome_options=chrome_options)
<ipython-input-7-5f7ba323d9ed>:9: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  elementID = driver.find_element_by_id("username")
<ipython-input-7-5f7ba323d9ed>:14: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  elementID = driver.find_element_by_id("password")
<ipython-input-7-5f7ba323d9ed>:19: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  sign_in_button = driver.find_element_by_xpath('//*[@type="submit"]')

In [ ]:
# browser mengarah ke hasil pencarian daftar perusahaan di Indonesia
driver.get("https://www.linkedin.com/search/results/all/?origin=GLOBAL_SEARCH_HEADER&sid=mgZ")
url  = "https://www.linkedin.com/search/results/companies/?companyHqGeo=%5B%22102478259%22%5D&origin=FACETED_SEARCH&sid=RGt"
driver.get(url)
html = driver.page_source
soup = BeautifulSoup(html, "html.parser")

### Scraping

#### Scraping page 1

In [4]:
# Persiapkan tabel data untuk menampung hasil scraping
data = pd.DataFrame()

# Kolom 'Company Name' untuk nama company
data['Company Name'] = [name.get_text().strip() for name in soup.find_all('div', class_="t-roman t-sans")]

linknodes = driver.find_elements(By.XPATH,
                    "//*[@class='entity-result__content entity-result__divider pt3 pb3 t-12 t-black--light']//span//a")
links = []
for node in linknodes:
        link = node.get_attribute("href")
        links.append(link)

# Kolom 'Link' untuk Company URLs
data['Link'] = links

In [22]:
# Show scrapped data for the first page
data

  Company Name                                             Link
0          IBM            https://www.linkedin.com/company/ibm/
1       Danone         https://www.linkedin.com/company/danone/
2   ExxonMobil     https://www.linkedin.com/company/exxonmobil/
3       Shopee         https://www.linkedin.com/company/shopee/
4       Oracle         https://www.linkedin.com/company/oracle/
5       Lazada         https://www.linkedin.com/company/lazada/
6    Tokopedia  https://www.linkedin.com/company/pt--tokopedia/
7        Gojek          https://www.linkedin.com/company/gojek/
8        Shell          https://www.linkedin.com/company/shell/
9         Grab        https://www.linkedin.com/company/grabapp/

#### Scraping page 2

In [23]:
url2 = "https://www.linkedin.com/search/results/companies/?companyHqGeo=%5B%22102478259%22%5D&origin=FACETED_SEARCH&page=2&sid=!0E"
driver.get(url2)
html = driver.page_source
soup = BeautifulSoup(html, "html.parser")

In [25]:
data2 = pd.DataFrame()
data2['Company Name'] = [name.get_text().strip() for name in soup.find_all('div', class_="t-roman t-sans")]

linknodes = driver.find_elements(By.XPATH,
                    "//*[@class='entity-result__content entity-result__divider pt3 pb3 t-12 t-black--light']//span//a")
links = []
for node in linknodes:
        link = node.get_attribute("href")
        links.append(link)

data2['Link'] = links
data2

,Company Name,Link
0,PT HM Sampoerna Tbk.,https://www.linkedin.com/company/pt-hm-sampoer...
1,Accenture,https://www.linkedin.com/company/accenture/
2,Sayurbox,https://www.linkedin.com/company/sayurboxoffic...
3,Boston Consulting Group (BCG),https://www.linkedin.com/company/boston-consul...
4,The Kraft Heinz Company,https://www.linkedin.com/company/the-kraft-hei...
5,Traveloka,https://www.linkedin.com/company/traveloka/
6,DANA Indonesia,https://www.linkedin.com/company/dana-indonesia/
7,PT Indofood Sukses Makmur Tbk,https://www.linkedin.com/company/pt-indofood-s...
8,Gojek Tech,https://www.linkedin.com/company/gojektech/
9,Institut Teknologi Bandung,https://www.linkedin.com/company/itb/

In [26]:
# merge the table of scrap result from page 1 and page 2
df = pd.concat([data,data2], ignore_index=True)

#### Scrap page 3

In [27]:
url3 = "https://www.linkedin.com/search/results/companies/?companyHqGeo=%5B%22102478259%22%5D&origin=FACETED_SEARCH&page=3&sid=q%2C%3A"
driver.get(url3)
html = driver.page_source
soup = BeautifulSoup(html, "html.parser")

In [29]:
data3 = pd.DataFrame()
data3['Company Name'] = [name.get_text().strip() for name in soup.find_all('div', class_="t-roman t-sans")]

linknodes = driver.find_elements(By.XPATH,
                    "//*[@class='entity-result__content entity-result__divider pt3 pb3 t-12 t-black--light']//span//a")
links = []
for node in linknodes:
        link = node.get_attribute("href")
        links.append(link)

links

data3['Link'] = links

In [30]:
# Merge with scrap data from page 3
df = pd.concat([df,data3], ignore_index=True)

#### Scrap page 4 - 100

In [31]:
# List untuk menampung hasil scrapping dari proses iterasi
name = []
links = []

for i in range(4,101):
    url="https://www.linkedin.com/search/results/companies/?companyHqGeo=%5B%22102478259%22%5D&origin=FACETED_SEARCH&page={}".format(i)
    driver.get(url)
    html = driver.page_source
    soup = BeautifulSoup(html, "html.parser") 
    
    name += [name.get_text().strip() for name in soup.find_all('div', class_="t-roman t-sans")]

    linknodes = driver.find_elements(By.XPATH,"//*[@class='entity-result__content entity-result__divider pt3 pb3 t-12 t-black--light']//span//a")
    for node in linknodes:
        link = node.get_attribute("href")
        links.append(link)

In [35]:
# Merge with data from all pages
data4 = pd.DataFrame()
data4['Company Name'] = name
data4['Link'] = links
df = pd.concat([df,data4], ignore_index=True)

### Result

In [36]:
# Show dataframe result
df

,Company Name,Link
0,IBM,https://www.linkedin.com/company/ibm/
1,Danone,https://www.linkedin.com/company/danone/
2,ExxonMobil,https://www.linkedin.com/company/exxonmobil/
3,Shopee,https://www.linkedin.com/company/shopee/
4,Oracle,https://www.linkedin.com/company/oracle/
...,...,...
995,FKS Group,https://www.linkedin.com/company/fks-group-ind...
996,PT. MNC Sky Vision,https://www.linkedin.com/company/pt.-mnc-sky-v...
997,Finmas,https://www.linkedin.com/company/finmas-id/
998,PT Bintang Toedjoe,https://www.linkedin.com/company/pt-bintang-to...
999,Universitas Sam Ratulangi,https://www.linkedin.com/company/universitas-s...

In [37]:
# Export the tabel result into excel file
df.to_excel("output.xlsx")

C:\Users\ddeel\anaconda3\lib\site-packages\pandas\compat\_optional.py:123: UserWarning: Pandas requires version '1.0.2' or newer of 'xlsxwriter' (version '0.7.3' currently installed).
  warnings.warn(msg, UserWarning)